/* body formatting */
body {
    background-color: #ffffff;
    background-image: url('../images/background3.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    padding-top: 100px; /* to accomodate for top navigation bar */
}

.content {
    padding: 1px 16px;
    height: 1000px;
    margin-top: 25px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.loggedInDiv {
    font-family: 'Cairo', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    align-self: center;
    bottom: -40px;
    position: relative;
}

.accessUIDiv {
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    align-self: center;
}

#logo-text {
    text-align: left;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    color: #f05a28;
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
}

.column {
    display: inline-block;
    padding: 10px 10px;
    vertical-align: middle;
}

.column button {
    position: relative;
    background: rgba(57, 93, 157, 0.31);
    border-radius: 450%;
    padding: 15px;
    margin: 10px;
    width: 70px;
    height: 35px;
    font-size: 18px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.tables {
    align-self: center;
}

.addContacts {
    align-self: center;
}

/* add contacts table formatting */
#addMe {
    font-family: 'Ubuntu';
    display: none;
    border-radius: 17px;
    position: relative;
    background: rgba(43, 72, 118, 0.8);
    max-width: 350px;
    margin: 0 auto 50px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#addMe input {
    border-radius: 17px;
    font-family: 'Ubuntu';
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}


#addMe>input:valid {
    border: 2px solid #009345;
    ;
}

#addMe>input:invalid {
    border: 2px solid red;
}

#addMe>input:invalid:required {
    background-image: white;
}

#addMe button {
    border-radius: 20px;
    font-family: 'Cairo', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    outline: 0;
    background: rgba(27, 25, 51, 0.4);
    color: white(255, 255, 255, 0.8);
    width: 50%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#addMe button:hover {
    background-color: rgba(188, 213, 238, 0.31); 
    color: #f05a28;      
    text-decoration: none;       
}

#contacts td input {
    border-radius: 17px;
    font-family: 'Ubuntu';
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

/* button formatting */
.btn {
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bolder;
    font-size: 2.3vw;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3em 1.2em;
    margin: 0.6em 0.3em 0.3em 0;
    float: right;
}

.btn:hover {
    color: #444e49;
}

/* search bar formatting */
.search-container {
    background: #fff;
    font-family: 'Ubuntu';
    height: 30px;
    width: 400px;
    border-radius: 10px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
    width: 400px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16px;
}

.search-container .search-btn .fas {
    color: #000000;
}


span {
    color: rgb(164, 0, 0);
    font-family: 'Ubuntu';
}

p {
    color: rgb(164, 0, 0);
    font-family: 'Ubuntu';
}

/* table formatting */
#contactsTable {
    display: block;
    height: 500px;
}


table {
    width:100%;
    table-layout: fixed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* rgba(43, 72, 118, 0.8); , rgba(43, 72, 118, 0.5);*/
.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
}

#contacts td,
#contacts th {
    border: 1px solid rgba(43, 72, 118, 0.8);
}

#contacts tr:hover {
    background-color: #478fbb;
}

#contacts th {
    padding: 20px 15px;
    text-align: left;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(43, 72, 118, 0.8);
    text-transform: uppercase;
}

#contacts td {
    padding: 15px;
    text-align: left;
    font-family: 'Ubuntu';
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    font-weight: bold;
    color: #082b63ea;
    background-color: rgb(255, 255, 255);
}
#contacts td span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100%;
    color: #082b63;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*top navigation menu*/
.topnav {
    width: 100%;
    height: 80px; 
    background: rgba(43, 72, 118, 0.8);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px; 
}

.topnav img {
    display: inline;
    width: auto;   
    max-height: 60px; 
    margin-left: 5px; 
}

/*Top Navigation Links*/
.topnav a {
    padding: 10px 20px;  
    display: inline-block; 
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #ffffff;
    margin: 0; 
}

.topnav a:hover {
    color: #f05a28;
    text-decoration: underline;
}
.topnav a{
    text-align: left;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'Cairo', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 44px;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font, .button-container-right {
    text-align: left;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 44px;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebuttons:hover, .font:hover {
    color: #f05a28;
    text-decoration: underline;
}

/* overiding w3 css for edit/delete buttons */
.w3-button {

}

.w3-button.w3-light-green {
    color: #26358e!important;
    background-color: rgb(147, 0, 0);
    border: 1px solid #26358e;
    margin-right: 10px;
    margin-left: 10px;
}

.w3-button.w3-deep-orange {
    color: #26358e!important;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #26358e;
}

.w3-button i.fas {
    color: white !important;
}
