/* login form */
.form {
    border-radius: 20px;
    position: relative;
    background: rgba(177, 188, 247, 0.3);
    max-width: 350px;
    margin: 0 auto 100px;
    top: 0px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    height: 360px;
    transition: .6s;
}

/* logo formatting */
#logo {
    max-width: 15vw;
    width: 200px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

#logo-text {
    border: none;
    padding-left: 0.47em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
    color: #e5e5e5;
    font-style: normal;
    font-weight: 200;
    font-size: 2vw;
    font-family: 'Cairo', sans-serif;
}

.input-field {
    border-radius: 17px;
    font-family: 'Ubuntu';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}

/* container to hold login/signup buttons */
.btn {
    margin: auto;
    position: relative;
}

.submit-btn {
    border-radius: 17px;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    outline: 0;
    background: #1077c578;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.input-form {
    transition: .4s;
    position: absolute;
}

.input-field:valid {
    border: 2px solid #009345;
}

.input-field:invalid {
    border: 2px solid red;
}

.input-field:invalid:required {
    background-image: white;
}

/* username and password criteria message */
#explanation,
#explanationUser {
    display: none;
    color: #000;
    position: relative;
    bottom: 1px;
    text-align: center;
    font-family: 'Ubuntu';
}

#explanation>p {
    position: relative;
    bottom: 10px;
}

/* error messaging formatting */
#loginResult {
    position: relative;
    top: 70px;
    color: rgb(203, 55, 21);
    font-family: 'Ubuntu';
}

#signupResult {
    position: relative;
    bottom: -10px;
    color: #009345;
    font-family: 'Ubuntu';
}

/* Add text when the requirements are right */
.valid {
    color: #000000;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔️";
}

/* Add red text for the requirements that are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "❌";
}

/* login and signup buttons */
.toggle-btn {
    padding: 9px 40px;
    cursor: pointer;
    background: #828384e3;
    border: 0;
    outline: none;
    position: relative;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #b2b9c1;
    margin: auto;
    position: relative;
    border-radius: 20px;
    bottom: 10px;
}

.toggle-btn:hover{
    background: #1077c5d4;
}

#login {
    position: relative;
    display: block;
}

#loginButton,
#loginName,
#loginPassword {
    position: relative;
    bottom: -50px;
}

#signup {
    position: relative;
    display: none;
}

.submit-btn:hover {
    background: #0c699f;
}

/* body formatting */
body {
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: -100px;
    margin: 10;
    overflow: hidden;
}
